body {
    background-image: url('/static/images/muscle3.png'); /* 背景画像のパス */ 
    background-size: cover; /* 画像をページ全体に広げる */ 
    background-position: center; /* 画像の位置を中央に設定 */ 
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */ 
    display: flex; /* Flexboxで中央配置 */ 
    justify-content: center; /* 水平方向に中央揃え */ 
    align-items: center; /* 垂直方向に中央揃え */ 
    height: 100vh; /* ビューポートの高さを全体に合わせる */ 
    margin: 0; /* 余白をなくす */
}

/* コンテナスタイル */
.container {
    text-align: center; /* テキストを中央に揃える */
    width: 100%;
    max-width: 800px; /* コンテナの最大幅を指定 */
    margin: 0 auto;
}

/* h1のスタイル */
h1 {
    font-size: 4em;
    color: #333;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* 白い背景色を追加 */
    padding: 20px; /* 文字と背景の間に余白を追加 */
    border-radius: 10px; /* 角を丸くする */
    display: inline-block; /* テキストブロックを中央に */
    text-align: center; /* テキスト自体も中央揃え */
}

/* レスポンシブ対応でフォントサイズを調整 */
@media (max-width: 600px) {
    h1 {
        font-size: 2.5em; /* 小さい画面ではフォントサイズを調整 */
    }
}
.start-btn {
    padding: 15px 30px;
    font-size: 1.5em;
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block; /* ボタンをインラインブロックに */
    margin: 0 auto; /* ボタンを中央揃え */
}

.start-btn:hover {
    background-color: #ff0000;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-gradient-radius.start {
    font-size: 1.6em;
    padding: 13px 30px;
}

.btn-gradient-radius {
    font-size: 0.9em; 
    display: inline-block;
    padding: 13px 28px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}
  
.btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}