<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アプリ名 - スタートページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/start.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Meascle</h1>
        <div class="button-group">
            <form action="/form" method="get">
                <button class="btn-gradient-radius start" onclick="startApp()">スタート</button>            
            </form>
            <form action="/login">
                <button class="btn-gradient-radius" onclick="startApp()">ログイン/登録</button>   
            </form>            
        </div>

    </div>
</body>
</html>
